In [1]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive/MyDrive/'Colab Notebooks/WRI-Hackathon/python_scripts/dataset/Rainfall 2010-2020/data'

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).
/gdrive/MyDrive/Colab Notebooks/WRI-Hackathon/python_scripts/dataset/Rainfall 2010-2020/data

In [2]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [3]:
df1 = pd.read_csv('district-wise-rainfall-data-for-india-2014.csv', sep=';')
df1

              DATE  ...                                     VARIABLE_NOTES
0       2012-06-01  ...  % Dep. are the Departures of rainfall from the...
1       2012-10-01  ...  % Dep. are the Departures of rainfall from the...
2       2012-11-01  ...  % Dep. are the Departures of rainfall from the...
3       2013-01-01  ...  % Dep. are the Departures of rainfall from the...
4       2014-04-01  ...  % Dep. are the Departures of rainfall from the...
...            ...  ...                                                ...
156303  2011-12-01  ...  The District Rainfall in millimeters  are the ...
156304  2012-03-01  ...  The District Rainfall in millimeters  are the ...
156305  2012-06-01  ...  The District Rainfall in millimeters  are the ...
156306  2012-07-01  ...  The District Rainfall in millimeters  are the ...
156307  2012-09-01  ...  The District Rainfall in millimeters  are the ...

[156308 rows x 7 columns]

In [4]:
df_2012 = pd.read_csv('Rainfall-2012.csv')
df_2012

           DISTRICTS  JAN  FEB  MAR    APR  ...    SEP    OCT    NOV   DEC  YEAR
0          BAGALKOTE  0.0  0.0  0.0   31.9  ...   50.0   93.6   41.8   0.0  2012
1    BENGALURU RURAL  0.0  0.0  4.3   57.7  ...   47.6   79.6  106.8  14.4  2012
2    BENGALURU URBAN  0.1  0.0  0.6   21.1  ...   41.3   60.0  100.6  17.2  2012
3           BELAGAVI  0.0  0.0  0.0   53.2  ...   70.5   92.4   40.0   4.0  2012
4            BELLARY  0.0  0.0  0.3   92.9  ...   75.5   38.3  122.9   0.5  2012
5              BIDAR  0.6  0.3  0.0   29.7  ...  127.8  101.5   29.8   0.0  2012
6         VIJAYAPURA  0.0  0.0  0.0   26.2  ...   68.4  123.8   25.3   0.0  2012
7     CHAMARAJANAGAR  1.8  0.0  0.5  105.9  ...   33.5  138.2   73.4  10.3  2012
8      CHICKBALLAPUR  0.2  0.0  1.3   72.3  ...   72.9   73.3  113.7   8.7  2012
9     CHIKKAMAGALURU  0.0  0.3  0.7  170.9  ...  187.0   57.6  101.7   1.0  2012
10       CHITRADURGA  0.0  0.0  0.0  131.4  ...   61.6   35.0  102.0   0.4  2012
11  DAKSHINA KANNADA  0.0  0.3  1.1  113.0  ...  423.8  150.2   90.1   0.9  2012
12         DAVANGERE  0.0  0.0  0.0  122.1  ...   65.5   29.1  137.8   0.3  2012
13           DHARWAD  0.0  0.0  0.0   45.8  ...   72.1   65.3   49.1   7.6  2012
14             GADAG  0.0  0.0  0.0   54.3  ...   50.5   41.7  150.1   0.0  2012
15         KALABURGI  0.2  0.0  0.0   48.5  ...   98.9  108.7   18.6   0.0  2012
16            HASSAN  0.0  0.3  1.2  149.6  ...   81.7   33.9   48.4   3.6  2012
17            HAVERI  0.0  0.0  0.0  124.6  ...   67.5   53.2  108.4   0.0  2012
18            KODAGU  0.5  2.2  7.2  154.9  ...  238.6   98.2   94.9   8.6  2012
19             KOLAR  0.0  0.0  4.7   65.4  ...   50.0  120.8  101.3  25.6  2012
20            KOPPAL  0.0  0.0  0.0   51.6  ...   58.5   67.7  104.2   0.1  2012
21            MANDYA  0.2  0.0  0.1  107.1  ...   84.3  132.1   54.7   9.0  2012
22            MYSURU  0.7  2.3  0.0  123.0  ...   64.9   88.5   38.1   4.9  2012
23           RAICHUR  0.0  0.0  0.0   31.2  ...   89.9   45.2   46.9   0.1  2012
24        RAMANAGARA  0.0  0.0  0.0   65.8  ...   42.9   89.0   96.7  14.3  2012
25        SHIVAMOGGA  0.0  0.0  1.0  112.5  ...  223.4   54.6   85.3   0.8  2012
26            TUMKUR  0.0  0.0  3.1  117.5  ...   72.1   38.0   85.7   1.7  2012
27             UDUPI  0.0  0.0  0.0   49.6  ...  525.8  135.1  101.9   0.0  2012
28    UTTARA KANNADA  0.0  0.0  0.2   55.0  ...  346.8  144.1   59.3   0.8  2012
29            YADGIR  0.0  0.0  0.0   31.3  ...   89.7   86.8   19.5   0.0  2012

[30 rows x 14 columns]

## Check data quality by comparing 2012 data from IMD and df1

In [5]:
tmp_df = df1[(df1['DATE'].str.startswith('2012')) & (df1['VARIABLE_NAME'] == 'Rainfall (mm.)') & (df1['INDIAN_STATES_NAME'] == 'Karnataka')].sort_values(by='DATE')
tmp_df

              DATE  ...                                     VARIABLE_NOTES
105095  2012-01-01  ...  The District Rainfall in millimeters  are the ...
14130   2012-01-01  ...  The District Rainfall in millimeters  are the ...
126611  2012-01-01  ...  The District Rainfall in millimeters  are the ...
14170   2012-01-01  ...  The District Rainfall in millimeters  are the ...
125332  2012-01-01  ...  The District Rainfall in millimeters  are the ...
...            ...  ...                                                ...
113631  2012-12-01  ...  The District Rainfall in millimeters  are the ...
52740   2012-12-01  ...  The District Rainfall in millimeters  are the ...
56119   2012-12-01  ...  The District Rainfall in millimeters  are the ...
70910   2012-12-01  ...  The District Rainfall in millimeters  are the ...
38467   2012-12-01  ...  The District Rainfall in millimeters  are the ...

[360 rows x 7 columns]

In [6]:
tmp_df.pivot(index='DISTRICTS_NAME', columns='DATE', values='VALUE').reset_index()

DATE   DISTRICTS_NAME  2012-01-01  ...  2012-11-01  2012-12-01
0           Bagalkote         0.0  ...        41.8         0.0
1     Bangalore Rural         0.0  ...       106.8        14.4
2     Bangalore Urban         0.1  ...       100.6        17.2
3             Belgaum         0.0  ...        40.0         4.0
4             Bellary         0.0  ...       122.9         0.5
5               Bidar         0.6  ...        29.8         0.0
6             Bijapur         0.0  ...        25.3         0.0
7      Chamarajanagar         1.8  ...        73.4        10.3
8       Chikballapura         0.2  ...       113.7         8.7
9         Chikmagalur         0.0  ...       101.7         1.0
10        Chitradurga         0.0  ...       102.0         0.4
11    Dakshin Kannada         0.0  ...        90.1         0.9
12          Davangere         0.0  ...       137.8         0.3
13            Dharwad         0.0  ...        49.1         7.6
14              Gadag         0.0  ...       150.1         0.0
15           Gulbarga         0.2  ...        18.6         0.0
16             Hassan         0.0  ...        48.4         3.6
17             Haveri         0.0  ...       108.4         0.0
18             Kodagu         0.5  ...        94.9         8.6
19              Kolar         0.0  ...       101.3        25.6
20             Koppal         0.0  ...       104.2         0.1
21             Mandya         0.2  ...        54.7         9.0
22             Mysore         0.7  ...        38.1         4.9
23            Raichur         0.0  ...        46.9         0.1
24         Ramanagara         0.0  ...        96.7        14.3
25            Shimoga         0.0  ...        85.3         0.8
26             Tumkur         0.0  ...        85.7         1.7
27              Udupi         0.0  ...       101.9         0.0
28      Uttar Kannada         0.0  ...        59.3         0.8
29             Yadgir         0.0  ...        19.5         0.0

[30 rows x 13 columns]

In [7]:
df_2012

           DISTRICTS  JAN  FEB  MAR    APR  ...    SEP    OCT    NOV   DEC  YEAR
0          BAGALKOTE  0.0  0.0  0.0   31.9  ...   50.0   93.6   41.8   0.0  2012
1    BENGALURU RURAL  0.0  0.0  4.3   57.7  ...   47.6   79.6  106.8  14.4  2012
2    BENGALURU URBAN  0.1  0.0  0.6   21.1  ...   41.3   60.0  100.6  17.2  2012
3           BELAGAVI  0.0  0.0  0.0   53.2  ...   70.5   92.4   40.0   4.0  2012
4            BELLARY  0.0  0.0  0.3   92.9  ...   75.5   38.3  122.9   0.5  2012
5              BIDAR  0.6  0.3  0.0   29.7  ...  127.8  101.5   29.8   0.0  2012
6         VIJAYAPURA  0.0  0.0  0.0   26.2  ...   68.4  123.8   25.3   0.0  2012
7     CHAMARAJANAGAR  1.8  0.0  0.5  105.9  ...   33.5  138.2   73.4  10.3  2012
8      CHICKBALLAPUR  0.2  0.0  1.3   72.3  ...   72.9   73.3  113.7   8.7  2012
9     CHIKKAMAGALURU  0.0  0.3  0.7  170.9  ...  187.0   57.6  101.7   1.0  2012
10       CHITRADURGA  0.0  0.0  0.0  131.4  ...   61.6   35.0  102.0   0.4  2012
11  DAKSHINA KANNADA  0.0  0.3  1.1  113.0  ...  423.8  150.2   90.1   0.9  2012
12         DAVANGERE  0.0  0.0  0.0  122.1  ...   65.5   29.1  137.8   0.3  2012
13           DHARWAD  0.0  0.0  0.0   45.8  ...   72.1   65.3   49.1   7.6  2012
14             GADAG  0.0  0.0  0.0   54.3  ...   50.5   41.7  150.1   0.0  2012
15         KALABURGI  0.2  0.0  0.0   48.5  ...   98.9  108.7   18.6   0.0  2012
16            HASSAN  0.0  0.3  1.2  149.6  ...   81.7   33.9   48.4   3.6  2012
17            HAVERI  0.0  0.0  0.0  124.6  ...   67.5   53.2  108.4   0.0  2012
18            KODAGU  0.5  2.2  7.2  154.9  ...  238.6   98.2   94.9   8.6  2012
19             KOLAR  0.0  0.0  4.7   65.4  ...   50.0  120.8  101.3  25.6  2012
20            KOPPAL  0.0  0.0  0.0   51.6  ...   58.5   67.7  104.2   0.1  2012
21            MANDYA  0.2  0.0  0.1  107.1  ...   84.3  132.1   54.7   9.0  2012
22            MYSURU  0.7  2.3  0.0  123.0  ...   64.9   88.5   38.1   4.9  2012
23           RAICHUR  0.0  0.0  0.0   31.2  ...   89.9   45.2   46.9   0.1  2012
24        RAMANAGARA  0.0  0.0  0.0   65.8  ...   42.9   89.0   96.7  14.3  2012
25        SHIVAMOGGA  0.0  0.0  1.0  112.5  ...  223.4   54.6   85.3   0.8  2012
26            TUMKUR  0.0  0.0  3.1  117.5  ...   72.1   38.0   85.7   1.7  2012
27             UDUPI  0.0  0.0  0.0   49.6  ...  525.8  135.1  101.9   0.0  2012
28    UTTARA KANNADA  0.0  0.0  0.2   55.0  ...  346.8  144.1   59.3   0.8  2012
29            YADGIR  0.0  0.0  0.0   31.3  ...   89.7   86.8   19.5   0.0  2012

[30 rows x 14 columns]

It is a clear match. Hence data obtained from this dataset should fall in-line with IMD data

## Get 2008-2011 data

In [8]:
df1['YEAR'] = df1['DATE'].str[:4]
df1['MONTH'] = df1['DATE'].str[5:7]
df1.head()

         DATE FREQUENCY  ...  YEAR MONTH
0  2012-06-01   Monthly  ...  2012    06
1  2012-10-01   Monthly  ...  2012    10
2  2012-11-01   Monthly  ...  2012    11
3  2013-01-01   Monthly  ...  2013    01
4  2014-04-01   Monthly  ...  2014    04

[5 rows x 9 columns]

In [9]:
df1 = df1[(df1['DATE'].str[:4] <= '2011') & (df1['VARIABLE_NAME'] == 'Rainfall (mm.)') & (df1['INDIAN_STATES_NAME'] == 'Karnataka')].sort_values(by='DATE')
df1

              DATE FREQUENCY  ...  YEAR MONTH
99      2008-01-01   Monthly  ...  2008    01
2837    2008-01-01   Monthly  ...  2008    01
106999  2008-01-01   Monthly  ...  2008    01
63073   2008-01-01   Monthly  ...  2008    01
68852   2008-01-01   Monthly  ...  2008    01
...            ...       ...  ...   ...   ...
23014   2011-12-01   Monthly  ...  2011    12
17098   2011-12-01   Monthly  ...  2011    12
110454  2011-12-01   Monthly  ...  2011    12
88020   2011-12-01   Monthly  ...  2011    12
155210  2011-12-01   Monthly  ...  2011    12

[1352 rows x 9 columns]

In [10]:
df1 = df1.pivot(index=['DISTRICTS_NAME', 'YEAR'], columns='MONTH', values='VALUE').reset_index()
df1

MONTH   DISTRICTS_NAME  YEAR    01    02  ...     09     10     11    12
0            Bagalkote  2008   0.0  16.7  ...  135.4   60.3   27.2   0.3
1            Bagalkote  2009   0.0   0.0  ...  195.6  220.1   28.8  31.2
2            Bagalkote  2010  13.4   0.1  ...   64.2   58.3   83.2   0.4
3            Bagalkote  2011   0.0   1.9  ...   57.1   90.4    0.0   0.0
4      Bangalore Rural  2008   0.0   2.1  ...  103.9  150.4   25.2   2.3
..                 ...   ...   ...   ...  ...    ...    ...    ...   ...
108      Uttar Kannada  2008   0.0   5.3  ...  311.7   51.9    8.4   1.5
109      Uttar Kannada  2009   0.0   0.0  ...  503.2  267.1  113.0  12.6
110      Uttar Kannada  2010   8.9   0.0  ...  497.0  261.8  195.0   6.3
111      Uttar Kannada  2011   0.0   0.5  ...  557.6  109.2   45.0   0.0
112             Yadgir  2011   0.0   3.9  ...   49.5   52.5    0.1   0.0

[113 rows x 14 columns]

In [11]:
df1.rename(columns={'DISTRICTS_NAME': 'DISTRICTS',
                    '01': 'JAN',
                    '02': 'FEB',
                    '03': 'MAR',
                    '04': 'APR',
                    '05': 'MAY',
                    '06': 'JUN',
                    '07': 'JUL',
                    '08': 'AUG',
                    '09': 'SEP',
                    '10': 'OCT',
                    '11': 'NOV',
                    '12': 'DEC'}, inplace=True)
df1

MONTH        DISTRICTS  YEAR   JAN   FEB  ...    SEP    OCT    NOV   DEC
0            Bagalkote  2008   0.0  16.7  ...  135.4   60.3   27.2   0.3
1            Bagalkote  2009   0.0   0.0  ...  195.6  220.1   28.8  31.2
2            Bagalkote  2010  13.4   0.1  ...   64.2   58.3   83.2   0.4
3            Bagalkote  2011   0.0   1.9  ...   57.1   90.4    0.0   0.0
4      Bangalore Rural  2008   0.0   2.1  ...  103.9  150.4   25.2   2.3
..                 ...   ...   ...   ...  ...    ...    ...    ...   ...
108      Uttar Kannada  2008   0.0   5.3  ...  311.7   51.9    8.4   1.5
109      Uttar Kannada  2009   0.0   0.0  ...  503.2  267.1  113.0  12.6
110      Uttar Kannada  2010   8.9   0.0  ...  497.0  261.8  195.0   6.3
111      Uttar Kannada  2011   0.0   0.5  ...  557.6  109.2   45.0   0.0
112             Yadgir  2011   0.0   3.9  ...   49.5   52.5    0.1   0.0

[113 rows x 14 columns]

In [12]:
df_2012.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   DISTRICTS  30 non-null     object
 1   JAN        30 non-null     float64
 2   FEB        30 non-null     float64
 3   MAR        30 non-null     float64
 4   APR        30 non-null     float64
 5   MAY        30 non-null     float64
 6   JUN        30 non-null     float64
 7   JUL        30 non-null     float64
 8   AUG        30 non-null     float64
 9   SEP        30 non-null     float64
 10  OCT        30 non-null     float64
 11  NOV        30 non-null     float64
 12  DEC        30 non-null     float64
 13  YEAR       30 non-null     int64
dtypes: float64(12), int64(1), object(1)
memory usage: 3.4+ KB

In [13]:
df1['DISTRICTS'] = df1['DISTRICTS'].str.upper()
df1

MONTH        DISTRICTS  YEAR   JAN   FEB  ...    SEP    OCT    NOV   DEC
0            BAGALKOTE  2008   0.0  16.7  ...  135.4   60.3   27.2   0.3
1            BAGALKOTE  2009   0.0   0.0  ...  195.6  220.1   28.8  31.2
2            BAGALKOTE  2010  13.4   0.1  ...   64.2   58.3   83.2   0.4
3            BAGALKOTE  2011   0.0   1.9  ...   57.1   90.4    0.0   0.0
4      BANGALORE RURAL  2008   0.0   2.1  ...  103.9  150.4   25.2   2.3
..                 ...   ...   ...   ...  ...    ...    ...    ...   ...
108      UTTAR KANNADA  2008   0.0   5.3  ...  311.7   51.9    8.4   1.5
109      UTTAR KANNADA  2009   0.0   0.0  ...  503.2  267.1  113.0  12.6
110      UTTAR KANNADA  2010   8.9   0.0  ...  497.0  261.8  195.0   6.3
111      UTTAR KANNADA  2011   0.0   0.5  ...  557.6  109.2   45.0   0.0
112             YADGIR  2011   0.0   3.9  ...   49.5   52.5    0.1   0.0

[113 rows x 14 columns]

## Data Corrections

In [14]:
pair_list = [('CHIKBALLAPURA', 'CHICKBALLAPUR'), ('MYSORE', 'MYSURU'),
             ('UTTAR KANNADA', 'UTTARA KANNADA'), ('BANGALORE RURAL', 'BENGALURU RURAL'),
             ('BANGALORE URBAN', 'BENGALURU URBAN'), ('DAKSHIN KANNADA', 'DAKSHINA KANNADA'),
             ('CHIKMAGALUR', 'CHIKKAMAGALURU'), ('SHIMOGA', 'SHIVAMOGGA'), ('BELGAUM', 'BELAGAVI'),
             ('BIJAPUR', 'VIJAYAPURA'), ('GULBARGA', 'KALABURGI')]

for to_replace, value in pair_list:
    print(to_replace, '->', value)
    df1['DISTRICTS'].replace(to_replace=to_replace, value=value, inplace=True)

CHIKBALLAPURA -> CHICKBALLAPUR
MYSORE -> MYSURU
UTTAR KANNADA -> UTTARA KANNADA
BANGALORE RURAL -> BENGALURU RURAL
BANGALORE URBAN -> BENGALURU URBAN
DAKSHIN KANNADA -> DAKSHINA KANNADA
CHIKMAGALUR -> CHIKKAMAGALURU
SHIMOGA -> SHIVAMOGGA
BELGAUM -> BELAGAVI
BIJAPUR -> VIJAYAPURA
GULBARGA -> KALABURGI

In [15]:
df1.to_csv('Rainfall-2008-2011.csv', index=False)