In [1]:
from google.colab import drive
drive.mount('/gdrive')
%cd '/gdrive/MyDrive/Colab Notebooks/WRI-Hackathon/python_scripts/dataset'

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).
/gdrive/MyDrive/Colab Notebooks/WRI-Hackathon/python_scripts/dataset

In [2]:
import numpy as np
import pandas as pd
from tqdm.notebook import tqdm

In [3]:
harangi_df = pd.read_csv('reservoir_cleaned/harangi.csv')
harangi_df.head(3)

    FLOW_DATE RESERVOIR  ...  INFLOW_CUSECS OUTFLOW_CUECS
0  2011-01-01   Harangi  ...            142             0
1  2011-01-02   Harangi  ...            239             0
2  2011-01-03   Harangi  ...            166             0

[3 rows x 6 columns]

In [4]:
kabini_df = pd.read_csv('reservoir_cleaned/kabini.csv')
kabini_df.head(3)

    FLOW_DATE RESERVOIR  ...  INFLOW_CUSECS OUTFLOW_CUECS
0  2011-01-01    Kabini  ...            570            50
1  2011-01-02    Kabini  ...            570            50
2  2011-01-03    Kabini  ...            635            50

[3 rows x 6 columns]

In [5]:
hemavathi_df = pd.read_csv('reservoir_cleaned/hemavathi.csv')
hemavathi_df.head(3)

    FLOW_DATE  RESERVOIR  ...  INFLOW_CUSECS OUTFLOW_CUECS
0  2011-01-01  Hemavathi  ...            981        2001.0
1  2011-01-02  Hemavathi  ...            849        1950.0
2  2011-01-03  Hemavathi  ...            782        1950.0

[3 rows x 6 columns]

In [6]:
krs_df = pd.read_csv('reservoir_cleaned/krs.csv')
krs_df.head(3)

    FLOW_DATE RESERVOIR  ...  INFLOW_CUSECS OUTFLOW_CUECS
0  2011-01-01     K.R.S  ...           2029          2000
1  2011-01-02     K.R.S  ...           3084          1490
2  2011-01-03     K.R.S  ...           2776          1491

[3 rows x 6 columns]

In [7]:
hemavathi_df.shape, harangi_df.shape, kabini_df.shape, krs_df.shape

((3312, 6), (3319, 6), (3312, 6), (3311, 6))

In [8]:
df = pd.concat([hemavathi_df, harangi_df, kabini_df, krs_df], ignore_index=True)
df

        FLOW_DATE  RESERVOIR  ...  INFLOW_CUSECS OUTFLOW_CUECS
0      2011-01-01  Hemavathi  ...            981          2001
1      2011-01-02  Hemavathi  ...            849          1950
2      2011-01-03  Hemavathi  ...            782          1950
3      2011-01-04  Hemavathi  ...            695          1075
4      2011-01-05  Hemavathi  ...            661           550
...           ...        ...  ...            ...           ...
13249  2020-12-12      K.R.S  ...           3496          3308
13250  2020-12-13      K.R.S  ...           3197          3300
13251  2020-12-14      K.R.S  ...           3026          3273
13252  2020-12-15      K.R.S  ...           2530          3068
13253  2020-12-16      K.R.S  ...           2416          3243

[13254 rows x 6 columns]

In [9]:
df['YEAR'] = df['FLOW_DATE'].str[:4]
df['MONTH'] = df['FLOW_DATE'].str[5:7]
df['DATE'] = df['FLOW_DATE'].str[8:]
df.head()

    FLOW_DATE  RESERVOIR  PRESENT_STORAGE_TMC  ...  YEAR MONTH DATE
0  2011-01-01  Hemavathi                31.60  ...  2011    01   01
1  2011-01-02  Hemavathi                31.50  ...  2011    01   02
2  2011-01-03  Hemavathi                31.39  ...  2011    01   03
3  2011-01-04  Hemavathi                31.34  ...  2011    01   04
4  2011-01-05  Hemavathi                31.34  ...  2011    01   05

[5 rows x 9 columns]

In [10]:
day_df = df[['MONTH', 'DATE']].drop_duplicates().reset_index(drop=True).reset_index()
day_df.rename(columns={'index': 'DAY'}, inplace=True)
day_df

     DAY MONTH DATE
0      0    01   01
1      1    01   02
2      2    01   03
3      3    01   04
4      4    01   05
..   ...   ...  ...
361  361    12   28
362  362    12   29
363  363    12   30
364  364    12   31
365  365    02   29

[366 rows x 3 columns]

In [11]:
df = df.merge(day_df, on=['MONTH', 'DATE'])
df

        FLOW_DATE  RESERVOIR  PRESENT_STORAGE_TMC  ... MONTH DATE  DAY
0      2011-01-01  Hemavathi                31.60  ...    01   01    0
1      2012-01-01  Hemavathi                12.48  ...    01   01    0
2      2014-01-01  Hemavathi                11.64  ...    01   01    0
3      2015-01-01  Hemavathi                24.04  ...    01   01    0
4      2016-01-01  Hemavathi                 6.23  ...    01   01    0
...           ...        ...                  ...  ...   ...  ...  ...
13249  2020-02-29    Harangi                 3.54  ...    02   29  365
13250  2016-02-29     Kabini                 8.35  ...    02   29  365
13251  2020-02-29     Kabini                15.48  ...    02   29  365
13252  2016-02-29      K.R.S                17.98  ...    02   29  365
13253  2020-02-29      K.R.S                33.07  ...    02   29  365

[13254 rows x 10 columns]

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13254 entries, 0 to 13253
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   FLOW_DATE            13254 non-null  object
 1   RESERVOIR            13254 non-null  object
 2   PRESENT_STORAGE_TMC  13254 non-null  float64
 3   RES_LEVEL_FT         13254 non-null  object
 4   INFLOW_CUSECS        13254 non-null  object
 5   OUTFLOW_CUECS        13254 non-null  object
 6   YEAR                 13254 non-null  object
 7   MONTH                13254 non-null  object
 8   DATE                 13254 non-null  object
 9   DAY                  13254 non-null  int64
dtypes: float64(1), int64(1), object(8)
memory usage: 1.1+ MB

In [13]:
df[df['INFLOW_CUSECS'] == '&nbsp;']

       FLOW_DATE  RESERVOIR  PRESENT_STORAGE_TMC  ... MONTH DATE  DAY
4352  2014-05-15  Hemavathi                  0.0  ...    05   15  134
4360  2014-05-15    Harangi                  0.0  ...    05   15  134
4368  2014-05-15     Kabini                  0.0  ...    05   15  134
4376  2014-05-15      K.R.S                  0.0  ...    05   15  134

[4 rows x 10 columns]

In [14]:
df[df['OUTFLOW_CUECS'] == ' ']

      FLOW_DATE RESERVOIR  PRESENT_STORAGE_TMC  ... MONTH DATE DAY
526  2015-01-17   Harangi                 0.87  ...    01   17  16

[1 rows x 10 columns]

In [15]:
for idx in df[df['INFLOW_CUSECS'] == '&nbsp;'].index:
    df.loc[idx, 'INFLOW_CUSECS'] = 0

for idx in df[df['OUTFLOW_CUECS'] == ' '].index:
    df.loc[idx, 'OUTFLOW_CUECS'] = 0

In [16]:
df['INFLOW_CUSECS'] = df['INFLOW_CUSECS'].astype(float)
df['OUTFLOW_CUECS'] = df['OUTFLOW_CUECS'].astype(float)

In [17]:
df.drop_duplicates(inplace=True)
df.shape

(13242, 10)

## Add season

In [18]:
month_season = {'SEASON': {'01': 'WINTER', '02': 'WINTER', '03': 'SUMMER', '04': 'SUMMER',
                           '05': 'SUMMER', '06': 'SUMMER', '07': 'MONSOON', '08': 'MONSOON',
                           '09': 'MONSOON', '10': 'WINTER', '11': 'WINTER', '12': 'WINTER'}}
season_df = pd.DataFrame(month_season).reset_index()
season_df.rename(columns={'index': 'MONTH'}, inplace=True)
season_df

   MONTH   SEASON
0     01   WINTER
1     02   WINTER
2     03   SUMMER
3     04   SUMMER
4     05   SUMMER
5     06   SUMMER
6     07  MONSOON
7     08  MONSOON
8     09  MONSOON
9     10   WINTER
10    11   WINTER
11    12   WINTER

In [19]:
df = df.merge(season_df, on='MONTH')
df.head()

In [20]:
df.to_csv('reservoir_dataset.csv', index=False)